# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Local security notes (don't commit)
docs/SECURITY.md

# Local Database & Docker persistence
sqlite.db
data/

# Editor & IDE configs
.vscode/

# Build caches
.vite/
